$primary: #7380ec;
$danger: #ff7782;
$success: #41f1b6;
$warning: #ffbb55;
$white: #fff;
$info-dark: #7d8da1;
$info-light: #dce1eb;
$dark: #363949;
$light: rgba(132, 139, 200, 0.18);
$primary-variant: #111e88;
$dark-variant: #677483;
$bg: #f6f6f9;

$cardBorder: 2rem;
$border1: 0.4rem;
$border2: 0.8rem;
$border3: 1.2rem;

$cardPadding: 1.8rem;
$padding: 1.2rem;

$shadow: 0 2rem 3rem var(--color-light);